/* ============= GLOBAL CSS =============== */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --purple-primary: #635fc7;
  --purple-secondary: #a8a4ff;

  --black-primary: #000112;
  --black-secondary: #20212c;
  --black-tertiary: #2b2c37;
  --black-quaternary: #3e3f4e;

  --grey-primary: #828fa3;

  --white-primary: #ffffff;
  --white-secondary: #f4f7fd;
  --white-tertiary: #e4ebfa;

  --red-primary: #ea5555;
  --red-secondary: #ff9898;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --background-color: var(--white-primary);
  --background-color-secondary: var(--white-tertiary);
  --add-column: #e9effa;
  --text-color: var(--dark-tertiary);
  --border-radius: 1rem;
  --letter-spacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --fluid-width: 90vw;
  --nav-height: 5rem;
  --input-border: var(--black-primary);
  --task-subtitle: var(--grey-primary);
  --font-family: 'Plus Jakarta Sans', sans-serif;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* dark mode */
.dark {
  --background-color: var(--black-tertiary);
  --background-color-secondary: var(--black-secondary);
  --text-color: var(--white-primary);
  --input-border: var(--white-primary);
  --task-subtitle: var(--white-primary);
  --add-column: #22232e;
}

body {
  background: var(--background-color);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1;
  color: var(--text-color);
}
p {
  margin: 0;
  font-weight: bold;
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  /* font-family: var(--headingFont); */
  font-weight: 700;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 12px;
}

h5 {
  font-size: 10px;
}

.text-large {
  font-weight: normal;
  font-size: 13px;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  border: transparent;
  border-radius: var(--border-radius);
  letter-spacing: var(--letter-spacing);
  padding: 0.75rem 1.5rem;
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}

.btn-block {
  width: 100%;
}

/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--border-radius);
  background: var(--background-color);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
}
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
  margin: 0 auto;
}

.container {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
}
